* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
}

body{ 
  background-color: #f5f5f5;
}

.container{
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header h1{
  font-size: 2rem;
  margin-bottom: 1rem;
}

.header p{
  font-size: 1rem;
  color: #555;
}

.header{
  text-align: center;
  margin-bottom: 2rem;
  margin-top: 5rem;
}

.card {
  background-color: #fff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 70vw;
  text-align: center;
  margin-bottom: 2rem;
}

.input-section {
  margin-bottom: 1.5rem;
  width: 100%;
}

.input-section input {
  width: 400px;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  margin-right: 1rem;
}

.input-section button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
}

.summary {
  text-align: left;
  margin-top: 1rem;
  line-height: 1.6;
}

.footer{
  margin: 2rem;
}

.summary-text code {
  white-space: pre-wrap;
}